Dataset/
literature/
myenv/
__pycache__/
.ipynb_checkpoints/
.vscode/

*.png
*.jpg
*.jpeg
*.zip
*.tar.gz

*_old*

# Exception: include images in readme_assets folder
!readme_assets/*.png
!readme_assets/*.jpg
!readme_assets/*.jpeg